<%
	var title = page.title ? `${page.title} - matix.io` : 'matix.io - Technology, simplified.';
	var description = page.seo_description || "We build apps and websites that eliminate hours of manual work, helping you save precious time. Let's build something beautiful, together.";
	var ogTitle = page.title || 'Technology, simplified.';
	var banner = page.banner_sm ? `${page.permalink}${page.banner_sm}` : 'https://matix.io/assets/splash-1.jpg';
%>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<meta name="description" content="<%= description %>" />
		<title><%= title %></title>
		<link rel="icon" href="/assets/logo.png">
		<meta name="google-site-verification" content="wMetinNtYlBWFjdbF7OjEHlKDXfYe46scNf_ThrNAr8" />
		<meta name="p:domain_verify" content="344a80bcfb0f8135fcf2dbc794143f2c"/>
		<meta property="og:title" content="<%= ogTitle %>">
		<meta property="og:description" content="<%= description %>">
		<meta property="og:image" content="<%= banner %>">
		<meta property="og:url" content="<%= page.permalink || 'https://matix.io' %>">
	</head>

	<body>
		<%- body %>
		<script>
		function ease (t) { 
			return t<.5 ? 2*t*t : -1+(4-2*t)*t;
		}

		function getScrollTop() {
			return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
		}

		var preloads = document.querySelectorAll('.blur-preload');
		preloads.forEach(function (preload) {
			var src = preload.getAttribute('data-preload-image');
			var img = new Image();
			img.addEventListener('load', function () {
				var innerDiv = '<div class="blur-preload-inner" style="background-image: url(' + src + ')"></div>';
				preload.innerHTML = innerDiv;
				preload.setAttribute('data-loaded', 'true');
			});
			img.src = src;
		});

		document.addEventListener('scroll', function () {
			if (window.disableScrollEvents) return;
			var scrollTop = getScrollTop();
			var header = document.querySelector('header');

			if (scrollTop > 0) {
				header.setAttribute('data-small', 'true');
			} else {
				header.setAttribute('data-small', 'false');
			}
		});

		document.addEventListener('DOMContentLoaded', function () {

			var isMenuOpen = false;
			var isMenuPermanentlyOpen = false;

			var get = function(id) { return document.getElementById(id); }

			function getScrollTop() {
				return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
			}

			var menuToggle = get('mobile-menu-toggle');
			var menuItems = get('menu-items');
			var menuBlocker = get('menu-blocker');
			var splash = get('splash-img');

			function toggleMenu () {
				[menuItems, menuToggle, menuBlocker].forEach(function (el) {
					el.setAttribute('data-open', isMenuOpen ? 'false' : 'true');
				})
				isMenuOpen = !isMenuOpen;
			}

			menuToggle.addEventListener('click', toggleMenu);

			document.addEventListener('scroll', function () {
				if (window.disableScrollEvents) return;
				var scrollTop = getScrollTop();
				menuItems.setAttribute('data-scrolled', scrollTop > 0 ? 'true' : 'false');

				if (isMenuOpen) {
					toggleMenu();
				}

				var val = (scrollTop > splash.offsetTop + splash.scrollHeight - menuBlocker.scrollHeight)

				if (val !== isMenuPermanentlyOpen) {
					menuBlocker.setAttribute('data-permanently-open', val);
					menuItems.setAttribute('data-border-bottom', val);
				}

				isMenuPermanentlyOpen = val;
			});

			document.querySelectorAll('[data-scroll-to]').forEach(function (el) {
				el.addEventListener('click', function (e) {
					e.preventDefault();
					e.stopPropagation();
					window.disableScrollEvents = true;
					var target = document.querySelector(el.getAttribute('data-scroll-to'));
					target.scrollIntoView({ behavior: 'smooth' });
					window.disableScrollEvents = false;
					if (isMenuOpen) {
						toggleMenu();
					}
				});
			});
		});
		</script>

	    <!--Start of Tawk.to Script-->
	    <script type="text/javascript">
	    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	    (function(){
	    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	    s1.async=true;
	    s1.src='https://embed.tawk.to/58a323eef90be509fee73211/default';
	    s1.charset='UTF-8';
	    s1.setAttribute('crossorigin','*');
	    s0.parentNode.insertBefore(s1,s0);
	    })();
	    </script>
	    <!--End of Tawk.to Script-->

	    <script type="text/javascript">
	    Tawk_API = Tawk_API || {};
	    </script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19253381-10"></script>

		<script>
			// prod only
			if (window.location.hostname === 'matix.io') {
				// hotjar
			    (function(h,o,t,j,a,r){
			        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			        h._hjSettings={hjid:1117187,hjsv:6};
			        a=o.getElementsByTagName('head')[0];
			        r=o.createElement('script');r.async=1;
			        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			        a.appendChild(r);
			    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

			    // ga 
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-19253381-10');
			}
		</script>

		<footer>
			<div>
				<div class="footer-title">matix.io</div>
				<div class="footer-subtitle">A software development company</div>
			</div>
			<div class="footer-contact">
				<div>6830 av. du Parc, Unit 420F, Montréal, QC, Canada</div>
				<div id="footer-email"></div>
				<div id="footer-tel"></div>
			</div>
		</footer>

		<script>
			var get = function (id) {
				return document.querySelector(id);
			}

			var decode = function (input) {
				var output = '';
				for (var i = 0; i < input.length; i += 1) {
					output += String.fromCharCode(input[i]);
				}
				return output;
			}

			var email = decode([105, 110, 102, 111, 64, 109, 97, 116, 105, 120, 46, 105, 111]);
			var phone = decode([49, 53, 49, 52, 51, 53, 56, 48, 55, 53, 50]);
			var phonePretty = decode([43, 49, 45, 53, 49, 52, 45, 51, 53, 56, 45, 48, 55, 53, 50]);

			var emailLink = document.createElement('a');
			emailLink.href = 'mailto:' + email;
			emailLink.innerText = email;
			get('#footer-email').appendChild(emailLink);

			var phoneLink = document.createElement('a');
			phoneLink.href = 'tel:' + phone;
			phoneLink.innerText = phonePretty;
			get('#footer-tel').appendChild(phoneLink);
		</script>
	</body>
</html>